<!DOCTYPE html>
<html lang="en-US">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>

	
	
	
	
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
	
	<link rel="stylesheet" href="../static/css/style.css">
	
</head>
<body>

	<div class="container">
		<div class="login_center"> 
		
			<form>
			
				<input type="password" autofocus > 
				
				<div class="line wrong_pass">    </div>
				<input type="submit" class="hide" >
			</form>
		</div>
	
	
	</div>
		
	

		


</body>
</html>