{% extends "base.html" %}


{% block head%}Pagrindinis{% endblock %}




{% block page%}

<div class=" page">

<h1>Progresas</h1><hr>
	
	<ul>
		<li>0126 - sukurta "Galerija"</li>
		<li>0125 - sukurta "Dokumentai" įkėlimas ir persisiuntimas</li>
		<li>0124 - Sukurta "Apie LDP": </li>
		<ul>
			<ol>Tikslai ir vizija</ol>
			<ol>Istorija</ol>
			<ol>Valdyba</ol>
			<ol>Etikos komisija</ol>
			<ol>Narystė</ol>
			<ol>Redagavime inplementuota HTML sintakses palaikymas (teksto redagavimui) su saugumu (tag'as neveikia jei viduje yra tarpas)</ol>
		</ul>
		<li>0123 - Sukurti renginiai: "Naujienos","Renginiai Lietuvoje", "Tarptautiniai renginiai"</li>
		<li>0122 - Įvedimo formų validacija (Registracijoje ir Profilyje), Bugu taisymas, Pradetas failų įkėlimas (nebaigta)</li>
		<li>0121 - sukurta:</li>
		<ul>
			<ol>"Prisijungti"</ol>
			<ol>"Atsijungti"</ol>
			<ol>"Profilis"</ol>
			<ol>Integruota "Cookies" sistema</ol>
			<ol>Navigacija suskirstyta pagal vartotojo lygį</ol>
			<ol>Saugumo užtikrinimas: "Žinutės","Profilis","Vartotojai"</ol>
			<ol>pridetas super administratorius kaip pradinis administratorius paleidus pirma karta šį projektą</ol>
			
		</ul>
		<li>0120 - pilnai užbaigti "Kontaktai" ir "Žinutės"</li>
		<li>0115 - sukurta skiltis "Kontaktai" (nepilnai)</li>
		<li>0112 - sukurta skiltis "Vartotojai"</li>
		<ul>
			<ol>atvaizdavimas is duombazės</ol>
			<ol>redagavimas</ol>
			<ol>ištinimas</ol>
			<ol>vartotojo patvirtinimas</ol>
			<ol>vartotojų lygių korekcija</ol>
			<ol>rodyti/slepti vardotoja kontaktuose</ol>
			<ol>patalpinta i web test versija</ol>
		</ul>
		<li>0111 - sukurta skiltis "Registracija"</li>
		<li>0110 - kodo apjungimas : html, python, duombazė</li>
		<li>0109 - python crud test versija</li>
		<li>0108 - navigacija ir stilius</li>
		<li>0107 - sukurtas html ir pritaikyta mobiliajai versijai</li>
		<li>0106 - html test versija nuo orginalos web versijos </li>
	
	
	</ul><hr>

	


</div>

{% endblock %}