{% extends "base.html" %}


{% block head%}Pagrindinis{% endblock %}




{% block page%}

<div class=" page">

<h1>Progresas</h1><hr>
	
	<ul>
		<li>0124 - Sukurta "Apie LDP": </li>
		<ul>
			<ol>Tikslai ir vizija</ol>
			<ol>Istorija</ol>
			<ol>Valdyba</ol>
			<ol>Etikos komisija</ol>
			<ol>Narystė</ol>
			<ol>Redagavime inplementuota HTML sintakses palaikymas (teksto redagavimui) su saugumu (tag'as neveikia jei viduje yra tarpas)</ol>
		</ul>
		<li>0123 - Sukurti renginiai: "Naujienos","Renginiai Lietuvoje", "Tarptautiniai renginiai"</li>
		<li>0122 - Įvedimo formų validacija (Registracijoje ir Profilyje), Bugu taisymas, <b>Pradetas failų įkėlimas (nebaigta)</b></li>
		<li>0121 - sukurta:</li>
		<ul>
			<ol>"Prisijungti"</ol>
			<ol>"Atsijungti"</ol>
			<ol>"Profilis"</ol>
			<ol>Integruota "Cookies" sistema</ol>
			<ol>Navigacija suskirstyta pagal vartotojo lygį</ol>
			<ol>Saugumo užtikrinimas: "Žinutės","Profilis","Vartotojai"</ol>
			<ol>pridetas super administratorius kaip pradinis administratorius paleidus pirma karta šį projektą</ol>
			
		</ul>
		<li>0120 - pilnai užbaigti "Kontaktai" ir "Žinutės"</li>
		<li>0115 - sukurta skiltis "Kontaktai" (nepilnai)</li>
		<li>0112 - sukurta skiltis "Vartotojai"</li>
		<ul>
			<ol>atvaizdavimas is duombazės</ol>
			<ol>redagavimas</ol>
			<ol>ištinimas</ol>
			<ol>vartotojo patvirtinimas</ol>
			<ol>vartotojų lygių korekcija</ol>
			<ol>rodyti/slepti vardotoja kontaktuose</ol>
			<ol>patalpinta i web test versija</ol>
		</ul>
		<li>0111 - sukurta skiltis "Registracija"</li>
		<li>0110 - kodo apjungimas : html, python, duombazė</li>
		<li>0109 - python crud test versija</li>
		<li>0108 - navigacija ir stilius</li>
		<li>0107 - sukurtas html ir pritaikyta mobiliajai versijai</li>
		<li>0106 - html test versija nuo orginalos web versijos </li>
	
	
	</ul><hr>

	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


</div>

{% endblock %}