{% extends "base.html" %}


{% block head%}{% if current_user.lang == "LT" %} Pagrindinis {% else %} Main {% endif %}{% endblock %}




{% block page%}
{% if current_user.confirmed == "False" and current_user.name|length > 1 %} 
	<div class=" page text-center">
	{% if current_user.lang == "LT" %}
		<p> Prašome palaukti kol jus patvirtins administratorius</p>
	{% else %}
		<p>Please wait while administrator approves you</p>
	{% endif %}

	</div>
{% endif %}







<div class=" page">
<h1> {% if current_user.lang == "LT" %} Apie LPD {% else %} About LPD {% endif %}</h1><hr>
<p>{% if current_user.lvl == 2%}
	<a href="/edit_about/{{data.id}}" class="btn btn-success pull-right">  {% if current_user.lang == "LT" %} Redaguoti {% else %} Edit {% endif %}</a>
	{% endif %}
	
	{% if current_user.lang == "LT" %} 
		{% set arr = data.text.split('\n') %}
	{% else %} 
		{% set arr = data.text_en.split('\n') %}
	{% endif %}
	
		
		{% for line in arr %}
			{# In the Jinja template #}
			{{line|safe}}<br>
		
		{% endfor %}
	
</p>
<a href="/history/" class="btn btn-outline-primary border">  {% if current_user.lang == "LT" %} toliau {% else %} more {% endif %}</a>
</div>

<a href="/Naujienos/" class="text-dark text-decoration-none">
<div class=" page"><h2>{% if current_user.lang == "LT" %} Renginai{% else %} Events {% endif %}</h2>

<hr>
   
{% if news|length == 0%}
	<div class = " ">
		<p>  {% if current_user.lang == "LT" %} Naujienų sąrašas tuščias{% else %} Empty list {% endif %}</p>
	</div>
{% else %}
	{% for new in news %}
		{% if new.title|length > 0%}
			<div class = " ">
				<p><b><big> {% if current_user.lang == "LT" %} {{new.title}} {% else %} {{new.title_en}} {% endif %} </big> </b> {{new.date}} - {{new.location}}</p>
				
			</div>
		{% endif %}
	{% endfor %}
{% endif %}



</div>
</a>
<div class=" page">


<h2>Progresas</h2><hr>

		
	<ul>
		<b>
		<li>liko:</li>
		<ul>
			<li>EPS</li>
			<li>paveiksliukas į pagrindini (jei bus) </li>
			<li>sukelti į web kai, užsakovas nusipirks domena (informuoti iš kur pirkti) </li>
		</ul></b>
		
		<li>0130 - atlikta </li>
		<ul>
			<li>prideti angliska vartotojo laukeli </li>
			<li>Rodyti vartotojuj kad jis nepatvirtintas dar</li>
			<li>išversti migtukus į anglų</li>
		
		</ul>
		<li>0129 - Puslapis išverstas į anglų kalbą </li>
		<li>0128 - Puslapis pradėtas versti į anglų kalbą.Sukurtas migtukas pakeisti kalbai. Įšversta Navigacija ir "Pagrindinis" </li>
		<li>0127 - papildytas "Pagrindinis"</li>
		<ul>
			<li>"apie LPD" to daikto pirmas sakinys (padaryt, kad paspaudus ant kokio "tliiau" permestų į "apie LPD" likusią dalį)</li>
			<li>Pagrindiniame renginiai (ant jų paspaudus iškart meta į renginius)</li>
		</ul>
		<li>0126 - sukurta "Galerija"</li>
		<li>0125 - sukurta "Dokumentai" įkėlimas ir persisiuntimas</li>
		<li>0124 - Sukurta "Apie LDP": </li>
		<ul>
			<li>Tikslai ir vizija</li>
			<li>Istorija</li>
			<li>Valdyba</li>
			<li>Etikos komisija</li>
			<li>Narystė</li>
			<li>Redagavime inplementuota HTML sintakses palaikymas (teksto redagavimui) su saugumu (tag'as neveikia jei viduje yra tarpas)</li>
		</ul>
		<li>0123 - Sukurti renginiai: "Naujienos","Renginiai Lietuvoje", "Tarptautiniai renginiai"</li>
		<li>0122 - Įvedimo formų validacija (Registracijoje ir Profilyje), Bugu taisymas, Pradetas failų įkėlimas (nebaigta)</li>
		<li>0121 - sukurta:</li>
		<ul>
			<li>"Prisijungti"</li>
			<li>"Atsijungti"</li>
			<li>"Profilis"</li>
			<li>Integruota "Cookies" sistema</li>
			<li>Navigacija suskirstyta pagal vartotojo lygį</li>
			<li>Saugumo užtikrinimas: "Žinutės","Profilis","Vartotojai"</li>
			<li>pridetas super administratorius kaip pradinis administratorius paleidus pirma karta šį projektą</li>
			
		</ul>
		<li>0120 - pilnai užbaigti "Kontaktai" ir "Žinutės"</li>
		<li>0115 - sukurta skiltis "Kontaktai" (nepilnai)</li>
		<li>0112 - sukurta skiltis "Vartotojai"</li>
		<ul>
			<li>atvaizdavimas is duombazės</li>
			<li>redagavimas</li>
			<li>ištinimas</li>
			<li>vartotojo patvirtinimas</li>
			<li>vartotojų lygių korekcija</li>
			<li>rodyti/slepti vardotoja kontaktuose</li>
			<li>patalpinta i web test versija</li>
		</ul>
		<li>0111 - sukurta skiltis "Registracija"</li>
		<li>0110 - kodo apjungimas : html, python, duombazė</li>
		<li>0109 - python crud test versija</li>
		<li>0108 - navigacija ir stilius</li>
		<li>0107 - sukurtas html ir pritaikyta mobiliajai versijai</li>
		<li>0106 - html test versija nuo orginalos web versijos </li>
	
	
	</ul><hr>

	


</div>

{% endblock %}